# paramid1:
#   example1 = 12
#   example2 = -12.0
#   example3 = 1e+9
#   class = paramclass2
# paramid2:
#   example1 = true
#   example2 = false
#   example3 = text with spaces


# Parameter classes (should) mirror
# https://software.ecmwf.int/wiki/display/MIR/Parameters+classification


27: # cvl: Low vegetation cover
    class = ratio.cover

28: # cvh: High vegetation cover
    class = ratio.cover

29: # tvl: Type of low vegetation
    class = index

30: # tvh: Type of high vegetation
    class = index

43: # slt: Soil type
    class = index

130:  # t
    class = intensity
    absolute-error = 0.1

167: # 2t: 2 metre temperature
    class = intensity
    lsm = true
    #interpolation = k-nearest
    nclosest = 16

203: # o3: Ozone mass mixing ratio
    class = ratio

231: # ishf: Instantaneous surface sensible heat flux
    class = flux

3059: # prate: Precipitation rate
    class = rate

3060: # tstm: Thunderstorm probability
    class = ratio.probability

131165: # 10sp: 10 metre speed probability
    class = ratio.percentage

140113: # wefxd: Wave energy flux mean direction
    class = direction

140121: # swh1: Significant wave height of first swell partition
    interpolation = nearest-neighbour

140122: # mwd1: Mean wave direction of first swell partition
    class = direction
    interpolation = nearest-neighbour

140123: # mwp1: Mean wave period of first swell partition
    interpolation = nearest-neighbour

140124: # swh2: Significant wave height of second swell partition
    interpolation = nearest-neighbour

140125: # mwd2: Mean wave direction of second swell partition
    class = direction
    interpolation = nearest-neighbour

140126: # mwp2: Mean wave period of second swell partition
    interpolation = nearest-neighbour

140127: # swh3: Significant wave height of third swell partition
    interpolation = nearest-neighbour

140128: # mwd3: Mean wave direction of third swell partition
    class = direction
    interpolation = nearest-neighbour

140129: # mwp3: Mean wave period of third swell partition
    interpolation = nearest-neighbour

140230: # mwd: Mean wave direction
    class = direction

140235: # mdww: Mean direction of wind waves
    class = direction

140238: # mdts: Mean direction of total swell
    class = direction

140242: # mdwi: Mean wind direction
    class = direction

140249: # dwi: 10 metre wind direction
    class = direction

140250: # 2dsp: 2D wave spectra (multiple)
    class = unknown
    interpolation = nearest-neighbour

140251: # 2dfd: 2D wave spectra (single)
    class = unknown
    interpolation = nearest-neighbour

240016: # fldfrc: Water fraction
    class = ratio.fraction

260619: # smcugl: Mass concentration of condensed water in soil
    class = concentration

