<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ project_name }} Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script>


            function refreshData()
            {
                    $("#prev_button").toggleClass("disabled", true);
                    $("#prev_prev_button").toggleClass("disabled", true);
                    $("#next_button").toggleClass("disabled", true);
                    $("#next_next_button").toggleClass("disabled", true);
                
                $("#data_frame").load("/viewer/serve_data", {
                    page_data: dict_as_json(),
                    show_page: current_page,
                    show_lines: {{ chunk }}
                },
                function(data) {
                    $("#button_state").text("Page "+current_page+" / {{ npages }}");
                    $("#prev_button").toggleClass("disabled", current_page == 1);
                    $("#prev_prev_button").toggleClass("disabled", current_page == 1);
                    $("#next_button").toggleClass("disabled", current_page == {{ npages }});
                    $("#next_next_button").toggleClass("disabled", current_page == {{ npages }});
                });

            }

            function skipPage(delta) {

                current_page = current_page + delta;
                if (current_page < 1)
                    current_page = 1;
                if (current_page > {{ npages }})
                    current_page = {{ npages }};
                
                refreshData();

            } 
        var current_page = {{ current_page }};
        $(function() {
            $("#button_state").text("Page "+current_page+" / {{ npages }}");
            refreshData();

        })
    </script>
  </head>

  <body >

    <div class="row ">
            <div class="span4 offset4" >
                {% if paginated %}
                <ul class="pager">
                <li id="prev_prev_button" class="{% ifequal 1 current_page %}disabled{% endifequal %}">
                    <a href="javascript:skipPage(-10);" >&lt;&lt;</a>
                </li>
                <li id="prev_button" class="{% ifequal 1 current_page %}disabled{% endifequal %}">
                    <a href="javascript:skipPage(-1);" >&lt;</a>
                </li>
                &nbsp;<span id="button_state"></span>&nbsp;
                <li id="next_button" class="{% ifequal npages current_page %}disabled{% endifequal %}">
                    <a href="javascript:skipPage(1);">&gt;</a>
                </li>
                <li id="next_next_button" class="{% ifequal npages current_page %}disabled{% endifequal %}">
                    <a href="javascript:skipPage(10);">&gt;&gt;</a>
                </li>
                </ul>
                {% endif %}
            </div>
            <div class="span4">
                <span class="pull-right">difference range: <span class="hilite">{{ mindiff }}</span> to <span class="hilite">{{ maxdiff }}</span></span>
            </div>
        </div>
    <div class="row">
        <div class="span12" id="data_frame">

        </div>
    </div>

</body>
</html>
