<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ project_name }} Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load my_filters %}

    <style>
        /* adding a "disabled" style to Bootstrap's pager class */
        .pager .disabled a {
          color: #999999;
          cursor: default;
          pointer-events: none;
        }
        .midheight {
            height: 40px;
        }
        .bigheight {
            height: 80px;
        }
    </style>

    <script>
            
            function examineGribFile(filename)
            {

                $.ajax({
                    type: "POST",
                    url: "/viewer/spawn_metview",
                    data: { f: filename,
                           },
                    success: function (data) {

                    },
                    error: function(data) {

                    }
                });
            }

            function onScrollDiv(div)
            {
                var checked = $('#enable_coscroll:checked').val() != undefined;

                if (checked)
            //    if (div.className.search("coscroll") >= 0)
                {
                    $(".coscroll").each(function(i) {
                        if ($(this).attr("id") != div.id) {
                            $(this).scrollLeft(div.scrollLeft);
                            $(this).scrollTop(div.scrollTop);
                        }
                    });
                }
            }
            
            function refreshImages()
            {
                //alert("inside refreshImages");
                $('#loader').show()

                $("#images_frame").load("/viewer/serve_images", {
                    page_data: dict_as_json()
                },
                function(data) {
                    $('#loader').hide()

                });
                //alert("existing refreshImages");
            }

            function onResolution(res)
            {
                //alert("inside onResolution");
                var proj = $("#projection_select option:selected").attr("id");
                dict_store("projection", proj);
                dict_store("resolution", res);
                refreshImages();


            }
            
            function onProjectionChange()
            {
                var proj = $("#projection_select option:selected").attr("id");
                dict_store("projection", proj);
                refreshImages();

            }
            function onMessageChange(origin)
            {
                if (origin == "grib_ls")
                {
                    var msg = $("#grib_ls_message_select option:selected").attr("id");
                    dict_store("active_message", msg);
                    // refresh the namespace
                    $("#namespace_name").find(".active").each(function(i) {   
                        onNamespace($(this).attr("value"));
                    });

                }
                else if (origin == "images")
                {
                    var msg = $("#image_message_select option:selected").attr("id");
                    dict_store("active_message", msg);
                    // refresh the images
                    refreshImages();
                }
                else if (origin == "data")
                {
                    var msg = $("#data_message_select option:selected").attr("id");
                    dict_store("active_message", msg);

                   $("#dataview_frame").load("/viewer/serve_data_frame", {
                       page_data: dict_as_json()
                   },
                   function(data) {
                   });

                }
            }
            
            function onDumpStyle(style)
            {
                dict_store("grib_dump_style", style);

                $("#grib_dump_frame").load("/viewer/serve_grib_dump", {
                    page_data: dict_as_json(),
                    grib_dump_style: style
                },
                function(data) {
                });
            }

            function onCompareStyle(style)
            {
                dict_store("grib_compare_style", style);

                $("#grib_compare_frame").load("/viewer/serve_grib_compare", {
                    page_data: dict_as_json(),
                    grib_compare_style: style
                },
                function(data) {
                });
            }

            function onNamespace(namespace)
            {
                dict_store("selected_namespace", namespace);

                $("#grib_ls_frame").load("/viewer/serve_grib_ls", {
                    page_data: dict_as_json()
                },
                function(data) {
                });

            }
            function onDiffType(type)
            {
                dict_store("data_diff_type", type);

                $("#images_frame").load("/viewer/serve_images", {
                    page_data: dict_as_json()
                },
                function(data) {
                });

            }

            function onRawInputType(type)
            {
                dict_store("selected_raw_input_type", type);

                $("#raw_input_frame").load("/viewer/serve_raw_input", {
                    page_data: dict_as_json()
                },
                function(data) {
                });

            }

            function onScriptType(type)
            {
                dict_store("selected_script_type", type);

                $("#script_frame").load("/viewer/serve_script", {
                    page_data: dict_as_json()
                },
                function(data) {
                });

            }
            
            function onLogType(type)
            {
                dict_store("selected_log_type", type);
                
                $("#log_frame").load("/viewer/serve_log", {
                    page_data: dict_as_json()
                },
                function(data) {
                });

            }

            function onSummaryType(type)
            {
                //dict_store("selected_summary_type", type);

                $("#summary_frame").load("/viewer/serve_summary", {
                    page_data: dict_as_json()
                },
                function(data) {
                });

            }

            function refreshDataView()
            {
               var tolerance = $("#tolerance_text").val();
               if (isNaN(parseFloat(tolerance)) || !isFinite(tolerance))
               {
                    alert("Please enter a numeric tolerance value");
                    $("#tolerance_text").focus();
                    return;
               }

               dict_store("tolerance", tolerance);

               $("#dataview_frame").load("/viewer/serve_data_frame", {
                   page_data: dict_as_json()
               },
               function(data) {
               });

            }

            function onDataType(type)
            {
                dict_store("selected_data_type", type);
                
                if (type != "Differences")
                {
                    // hide the tolerances
                    $("#tolerance_controls").hide();
                }
                else
                {
                    $("#tolerance_controls").show();
                }

                refreshDataView();


            }




            $(function() {
                
                  // we need to re-store this in case the backend logic says
                  // we're out of bounds
                  dict_store("active_message", "{{ active_message }}");

                  $("#diff_type").find(".active").each(function(i) {   
                    onDiffType($(this).attr("value"));
                  });

                    

                  $("#dump_style").find(".active").each(function(i) {   
                    onDumpStyle($(this).attr("value"));
                  });

                  $("#compare_style").find(".active").each(function(i) {   
                    onCompareStyle($(this).attr("value"));
                  });

                  $("#namespace_name").find(".active").each(function(i) {   
                    onNamespace($(this).attr("value"));
                  });

                  $("#raw_input_type").find(".active").each(function(i) {   
                    onRawInputType($(this).attr("value"));
                  });

                  $("#script_type").find(".active").each(function(i) {   
                    onScriptType($(this).attr("value"));
                  });


                  $("#resolution").find(".active").each(function(i) {   
                      //alert("have active resolution");
                    onResolution($(this).attr("value"));
                  });

                  onSummaryType("dummyval");

                  $("#log_type").find(".active").each(function(i) {   
                    onLogType($(this).attr("value"));
                  });

                    
                  dict_store("selected_image_layout", "{{ selected_image_layout }}");

                  $("#image_options").find(".btn").click(function() 
                  {
                      if ($(this).hasClass("active"))
                      {
                        dict_store($(this).attr("value"), "off");
                      }
                      else
                      {
                        dict_store($(this).attr("value"), "on");
                      }

                      refreshImages();

                  });

                  $("#data_type").find(".active").each(function(i) {   
                    onDataType($(this).attr("value"));
                  });
                  
                  onResolution("{{ resolution }}");


            });

    </script>
  </head>

  <body >

        <div class="page-header">
            <nav><a title="Back to the top of the page" href="#top" class="pull-right">To the top</a></nav>
            <h2>Test Detail
                <small>Transformations from {{ source_grid_full }} to {{ target_grid_full }}</small></h2>
        </div>

                
        <div class="row">
            <div class="span6">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Interpolator</th><th>GRIB File</th>
                        </tr>
                    </thead>
                  <tbody>
                       {% for k in grib_labels %}
                      <tr>
                        <td>{{ k|capfirst }}</td>
                        <td>
                          <a class="btn" href="/viewer/serve_grib_download?f={{ grib_files|lookup:k }}">
                            <i class="icon-download"></i>
                            Download
                         </a>
                        </td>
                      </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row bigheight">
            <div class="span12"><h2><small>Test run at {{ test_date_str }} {{ test_time_str }} [{{ test_uuid }}]</small></h2></div>
        </div>

        <div class="row">
            <div class="span12" id="test_summary_frame"></div>
        </div>
        <div class="row">
            <div class="span12" id="co_scrolling_frame">
             <label class="checkbox pull-right">
                 <input id="enable_coscroll" type="checkbox" {{ co_scrolling }} onClick="onClickCoScrolling(this);"> Enable co-scrolling
            </label>
            </div>
        </div>
        <div class="row">
        <div class="span12 ">
                <div id="detail_tabs" class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="{% ifequal detail_tab 0 %}active{% endifequal %}" onclick="javascript:dict_store('detail_tab', 0);">
                            <a data-toggle="tab" href="#images">Images</a>
                        </li>
                        <li class="{% ifequal detail_tab 10 %}active{% endifequal %}" onclick="javascript:dict_store('detail_tab', 10);">           
                            <a data-toggle="tab" href="#dump">grib_dump</a>
                        </li>
                        <li class="{% ifequal detail_tab 15 %}active{% endifequal %}" onclick="javascript:dict_store('detail_tab', 15);">           
                            <a data-toggle="tab" href="#compare">grib_compare</a>
                        </li>
                        <li class="{% ifequal detail_tab 20 %}active{% endifequal %}" onclick="javascript:dict_store('detail_tab', 20);">           
                            <a data-toggle="tab" href="#grib_ls">grib_ls</a>
                        </li>                        
                        <li class="{% ifequal detail_tab 30 %}active{% endifequal %}" onclick="javascript:dict_store('detail_tab', 30);">           
                            <a data-toggle="tab" href="#scripts">Scripts</a>
                        </li>
                        <li class="{% ifequal detail_tab 35 %}active{% endifequal %}" onclick="javascript:dict_store('detail_tab', 35);">           
                            <a data-toggle="tab" href="#raw_input">Source</a>
                        </li>
                        <li class="{% ifequal detail_tab 40 %}active{% endifequal %}" onclick="javascript:dict_store('detail_tab', 40);">           
                            <a data-toggle="tab" href="#log">Log</a>
                        </li>
                        <li class="{% ifequal detail_tab 50 %}active{% endifequal %}" onclick="javascript:dict_store('detail_tab', 50);">           
                            <a data-toggle="tab" href="#data">Data</a>
                        </li>
                        <li class="{% ifequal detail_tab 60 %}active{% endifequal %}" onclick="javascript:dict_store('detail_tab', 60);">           
                            <a data-toggle="tab" href="#summary">Summary</a>
                        </li>
                                
                    </ul>
                    <div class="tab-content">
                        <div id="images" class="tab-pane {% ifequal detail_tab 0 %}active{% endifequal %}">
                            <div class="row">
                                <div class="span9">
                                    <select id="image_message_select" onChange="onMessageChange('images');">
                                       <!-- NB messages are displayed one-indexed to the user ONLY. internally all zero-indexed --> 
                                        {% for msg in grib_messages %}
                                            <option id="{{ msg }}" {% ifequal active_message msg %}selected{% endifequal %}>Message {{ msg|addone }}/{{ grib_message_count }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="span3">
                                    <div class="pull-right">
                                    <div id="diff_type" class="btn-group" data-toggle="buttons-radio">
                                        <!--    <button value='image' class="btn active" onClick="onDiffType(this.value);">Image diff</button> -->
                                        {% for type in diff_types %}
                                            <button value='{{ type }}' class="btn {% ifequal data_diff_type type %}active{% endifequal %}" onClick="onDiffType(this.value);">{{ type|capfirst }}</button>
                                        {% endfor %}
                                    </div>
                                    </div>
                                </div>
                            </div>
                           <div class="row midheight">
                                <div class="span3">
                                    <span id="resolution" class="btn-group pull-left" data-toggle="buttons-radio">
                                            {% for r in resolutions %}
                                            <button id="{{ r }}" value='{{ r }}' class="btn {% ifequal resolution r %}active{% endifequal %}" onClick="onResolution(this.value);">{{ r|capfirst }} Res</button>
                                            {% endfor %}
                                    </span>
                                </div>
                                <div class="span3">
                                    <select id="projection_select" onChange="onProjectionChange();">
                                        {% for p in projections %}
                                        <option id="{{ p }}" {% ifequal p projection %}selected{% endifequal %}>{{ p|titleify }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    <div class="span2">

                                   <div class="btn-group pull-left">
                                        <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                                        <span id="layout_text">Change Layout</span>
                                        <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                       {% for layout in image_layout_options %}
                                        <li><a href="javascript:onImageLayout('{{ layout }}');">{{ layout }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>

                                    </div>
                                <div class="span4">
                                    <div class="pull-right">
                                        <div id="image_options" class="btn-group" data-toggle="buttons-checkbox">
                                            {% if not wind %}
                                                {% for o in image_options %}
                                                <button id="{{ o }}" value="{{ o }}" class="btn {% if selected_image_options|contains:o %}active{% endif %}" >{{ o }}</button>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="span12" id="images_frame">
                                </div>
                            </div>
                        </div>

                        <div id="dump" class="tab-pane {% ifequal detail_tab 10 %}active{% endifequal %}">
                            <div class="row bigheight"> 
                                <div class="pull-right" style="text-align: center;">
                                    <div id="dump_style" class="btn-group" data-toggle="buttons-radio">
                                            {% for ds in dump_styles %}
                                                <button value='{{ ds }}' class="btn {% ifequal grib_dump_style ds %}active{% endifequal %}" onClick="onDumpStyle(this.value);">{{ ds|capfirst }}</button>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="span12" id="grib_dump_frame">
                            </div>
                        </div>
                    </div>
                        <div id="compare" class="tab-pane {% ifequal detail_tab 15 %}active{% endifequal %}">
                            <div class="row bigheight"> 
                                <div class="pull-right" style="text-align: center;">
                                    <div id="compare_style" class="btn-group" data-toggle="buttons-radio">
                                            {% for cs in compare_styles %}  
                                                <button value='{{ cs }}' class="btn {% ifequal grib_compare_style cs %}active{% endifequal %}" onClick="onCompareStyle(this.value);">{{ cs|capfirst }}</button>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="span12" id="grib_compare_frame">
                            </div>
                        </div>
                    </div>
                    <div id="grib_ls" class="tab-pane {% ifequal detail_tab 20 %}active{% endifequal %}">

                            <div class="row bigheight">
                                <div class="span3">
                                    <select id="grib_ls_message_select" onChange="onMessageChange('grib_ls');">
                                       <!-- NB messages are displayed one-indexed to the user ONLY. internally all zero-indexed --> 
                                        {% for msg in grib_messages %}
                                            <option id="{{ msg }}" {% ifequal active_message msg %}selected{% endifequal %}>Message {{ msg|addone }}/{{ grib_message_count }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="span9">
                                    <div class="pull-right" style="text-align: center;">
                                        <div id="namespace_name" class="btn-group" data-toggle="buttons-radio">
                                            {% for n in namespaces %}
                                                <button value='{{ n }}' class="btn {% ifequal n selected_namespace %}active{% endifequal %}" onClick="onNamespace(this.value);">{{ n }}</button>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row bigheight">
                            <div class="span12" id="grib_ls_frame">
                            </div>
                        </div>

                    </div>
                    <div id="scripts" class="tab-pane {% ifequal detail_tab 30 %}active{% endifequal %}">
                            <div class="row bigheight">
                                <div class="pull-right" style="text-align: center;">
                                    <div id="script_type" class="btn-group" data-toggle="buttons-radio">
                                        {% for sc in script_types %}
                                            <button value='{{ sc }}' class="btn {% ifequal sc selected_script_type %}active{% endifequal %}" onClick="onScriptType(this.value);">{{ sc }}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="span12" id="script_frame">
                            </div>
                        </div>
                    </div>
                    <div id="raw_input" class="tab-pane {% ifequal detail_tab 35 %}active{% endifequal %}">
                            <div class="row bigheight">
                                <div class="pull-right" style="text-align: center;">
                                    <div id="raw_input_type" class="btn-group" data-toggle="buttons-radio">
                                        {% for ri in raw_input_types %}
                                            <button value='{{ ri }}' class="btn {% ifequal ri selected_raw_input_type %}active{% endifequal %}" onClick="onRawInputType(this.value);">{{ ri }}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="span12" id="raw_input_frame">
                            </div>
                        </div>
                    </div>
                    <div id="log" class="tab-pane {% ifequal detail_tab 40 %}active{% endifequal %}">
                            <div class="row bigheight">
                                <div class="pull-right" style="text-align: center;">
                                    <div id="log_type" class="btn-group" data-toggle="buttons-radio">
                                        {% for l in log_types %}
                                            <button value='{{ l }}' class="btn {% ifequal l selected_log_type %}active{% endifequal %}" onClick="onLogType(this.value);">{{ l }}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="span12" id="log_frame">
                            </div>
                        </div>
                    </div>
                    <div id="data" class="tab-pane {% ifequal detail_tab 50 %}active{% endifequal %}">
                            <div class="row">
                                <div class="span3">
                                    <select id="data_message_select" onChange="onMessageChange('data');">
                                       <!-- NB messages are displayed one-indexed to the user ONLY. internally all zero-indexed --> 
                                        {% for msg in grib_messages %}
                                            <option id="{{ msg }}" {% ifequal active_message msg %}selected{% endifequal %}>Message {{ msg|addone }}/{{ grib_message_count }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                  <div class="span7">
                                    <form class="form-horizontal pull-right">
                                    <div class="control-group">
                                    <div id="tolerance_controls">
                                    <label class="control-label" for="tolerance">Absolute difference &gt;=</label>
                                        <div class="controls">
                                            <input class="span1" id="tolerance_text" type="text" value="{{ tolerance }}" />
                                          <a class="btn" href="javascript:refreshDataView();">
                                            <i class="icon-refresh"></i>
                                         </a>
                                        </div>
                                    </div>
                                    </div>
                                    </form>
                                </div>
                                <div class="span2" > 
                                    <div class="pull-right" style="text-align: center;">
                                        <div id="data_type" class="btn-group" data-toggle="buttons-radio">
                                        {% for d in data_types %}
                                            <button value='{{ d }}' class="btn {% ifequal d selected_data_type %}active{% endifequal %}" onClick="onDataType(this.value);">{{ d }}</button>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div id="dataview_frame">
                        </div>
                        <div class="row">
                            <div class="span12" id="data_frame">
                            </div>
                        </div>
                    </div>
                    <div id="summary" class="tab-pane {% ifequal detail_tab 60 %}active{% endifequal %}">
                            <div class="row bigheight">
                                <div class="pull-right" style="text-align: center;">
                                    <!-- options to go here -->        
                                </div>
                            </div>
                        <div class="row">
                            <div class="span12" id="summary_frame">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
</html>
