<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ project_name }} Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


         

            
    <script>

            function onImageLayout(layout)
            {
               dict_store("selected_image_layout", layout);

               $("#left_image").removeClass();
               $("#diff_image").removeClass();
               $("#diff_image_alt").removeClass();
               $("#right_image").removeClass();

               switch(layout)
               {
                   default:
                       layout="side";
                   case "side":
                       {% if comparison_grib %}
                           $("#left_image").addClass("span4");
                           $("#diff_image").addClass("span4");
                           $("#right_image").addClass("span4");
                           $("#diff_image").show();
                       {% else %}
                           $("#left_image").addClass("span6");
                           $("#right_image").addClass("span6");
                           $("#diff_image").hide();
                       {% endif %}
                        
                       $("#diff_image_alt").hide();

                   break;
                   case "stacked":
                       $("#left_image").addClass("span12");
                       $("#diff_image").addClass("span12");
                       $("#right_image").addClass("span12");
                       $("#diff_image").show();
                       $("#diff_image_alt").hide();
                   break;
                   case "comparison":
                       $("#left_image").addClass("span6");
                       $("#right_image").addClass("span6");
                       $("#diff_image").hide();
                       $("#diff_image_alt").addClass("span12");
                       $("#diff_image_alt").show();
                   break;
               }
            
                $("#layout_text").text(layout+" view");

               
            }


            function retrieveImage(grib, divs_to_update, is_diff, diff_lo, diff_hi)
            {

                var postdata = { 
                            f: grib,
                            m: "{{ active_message }}",
                            w: "{{ width }}",
                            h: "{{ height }}",
                            p: "{{ projection }}",
                            c: "{{ contour }}",
                            s: "{{ shading }}", 
                            l: "{{ legend }}",
                            lb: "{{ contour_labels }}",
                            v: "{{ values }}",
                            fval: "{{ value_frequency }}"
                        }

                // get default value for is_diff parameter
                is_diff = typeof is_diff !== 'undefined' ? is_diff: false;

                if (is_diff)
                {
                    postdata['diff']="1";
                    postdata['diff_type']="{{ data_diff_type }}";
                    var have_lo = typeof diff_lo !== 'undefined';
                    var have_hi = typeof diff_hi !== 'undefined';
                    if (have_lo)
                    {   
                        postdata['diff_lo'] = diff_lo.toString();
                    }
                    if (have_hi)
                    {   
                        postdata['diff_hi'] = diff_hi.toString();
                    }
                }
                $.ajax({
                    type: "POST",
                    url: "/viewer/serve_image",
                    data: postdata,
                    success: function (data) {

                            var response = JSON.parse(data);
                            for (var i=0; i< divs_to_update.length; i++)
                            {
                                var div = divs_to_update[i];

                                $(div).attr('src', "data:image/png;charset=utf-8;base64,"+response["img64"]);
                                $(div).attr('width', response["w"]);
                                $(div).attr('height', response["h"]);
                                $(div).attr('style', "max-width:"+response["w"]+"px;");
                           }
                          }
                    
                  });
            }
            
            function limitDiffImage()
            {   
                // store the from and to values and then refresh difference
                // images
                var from_val=$("#from_box").val();
                var to_val=$("#to_box").val();
                retrieveImage("{{ comparison_grib }}", ["#diff_image_stub", "#diff_image_alt_stub"], true, from_val, to_val);

            }


            $(function() {

              //onImageLayout("{{ selected_image_layout }}"); 

              //alert("inside image");
              retrieveImage("{{ left_grib }}", ["#left_image_stub"]);
              retrieveImage("{{ right_grib }}", ["#right_image_stub"]);
              {% if comparison_grib %}
              retrieveImage("{{ comparison_grib }}", ["#diff_image_stub", "#diff_image_alt_stub"], true);
              {% endif %}

              onImageLayout("{{ selected_image_layout }}"); 
              //alert("inside image 2");


              {% if comparison_grib %}
                  {% if hide_tolerance_area %}
                  $("#diff_tolerance_area").hide();
                  {% else %}
                  $("#diff_tolerance_area").show();
                  {% endif %}
              {% else %}
                  $("#diff_tolerance_area").hide();
              {% endif %}


              //alert("inside image 3");
            
            });


    </script>


            

                
  </head>

  <body >
                <div id="diff_tolerance_area">
                <h4><small>Difference values range from {{ diff_minmax.0 }} to {{ diff_minmax.1 }}</small></h4>
                <form class="well form-inline">
                    <div class="control-group">
                        <div >
                            <label class="control-label" for="from_box">Plot differences from </label>
                            <input class="input-small" id="from_box" type="text" value="{{ diff_minmax.0 }}" />
                            <label class="control-label" for="to_box"> to </label>
                            <input class="input-small" id="to_box" type="text" value="{{ diff_minmax.1 }}" />
                              <a class="btn" href="javascript:limitDiffImage();">
                                <i class="icon-refresh"></i>
                             </a>
                        </div>
                    </div>
                </form>
                </div>

        <div class="row ">
            <div id="left_image" class="span4 ">
                <h3>{{ left_label|capfirst }}</h3>
                <div class="coscroll" style="text-align:center;height:auto;overflow:auto;" onscroll="onScrollDiv(this);">
                    <img id="left_image_stub" src="{{ MEDIA_URL }}/image_wait.gif"/>                               
                </div>
            </div>
            <div id="diff_image" class="span4"> 
                {% if comparison_grib %}
                    <h3>{{ diff_label|capfirst }}</h3>
                    <div class="coscroll" style="text-align:center;height:auto;overflow:auto;" onscroll="onScrollDiv(this);">
                     <img id="diff_image_stub" src="{{ MEDIA_URL }}/image_wait.gif"/>                               
                    </div>
                {% endif %}
            </div>
            <div id="right_image" class="span4"> 
                <h3>{{ right_label|capfirst }}</h3>
                <div class="coscroll" style="text-align:center;height:auto;overflow:auto;" onscroll="onScrollDiv(this);">
                <img id="right_image_stub" src="{{ MEDIA_URL }}/image_wait.gif" />                               
                </div>
            </div>
            <div id="diff_image_alt" class="span4"> 
                {% if comparison_grib %}
                    <h3>{{ diff_label|capfirst }}</h3>
                    <div class="coscroll" style="text-align:center;height:auto;overflow:auto;" onscroll="onScrollDiv(this);">
                    <img id="diff_image_alt_stub" src="{{ MEDIA_URL }}/image_wait.gif" />                               
                    </div>
                    <h4><small>values range from {{ diff_minmax.0 }} to {{ diff_minmax.1 }}</small></h4>
                {% endif %}
            </div>
        </div>
</body>
</html>
