<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ project_name }} Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


            
  <script>

        function showJiraError(error)
        {
            $("#new_error_text").text(error);
            $("#new_error_text").show() 
        }

        function clearJiraError()
        {
             $("#new_error_text").text("");
             $("#new_error_text").hide();

        }
        function validTextField(text)
        {
            // tests whether meaningful text has been entered

            var teststr=text.replace(/(\r\n|\n|\r)/gm,"").split(" ").join("");
            return teststr.length > 0;

        }
        function onChangeIssue(issue_id)
        {
            dict_store("selected_issue_id", issue_id);

            $("#issue_frame").load("/viewer/serve_jira_issue", {
                page_data: dict_as_json(),

            },
            function (data) {
            });

        }
        function onNewIssue()
        {
            var summary=$("#new_summary").val();
            var description=$("#new_description").val();
            
            
            var bGoodSummary = validTextField(summary);
            var bGoodDescription = validTextField(description);
            var bErrors = !(bGoodSummary && bGoodDescription);
            
            $("#new_summary_group").toggleClass("error", !bGoodSummary);
            $("#new_description_group").toggleClass("error", !bGoodDescription);
            
            if (bErrors)
            {
                showJiraError("There was a problem with your input");
            }
            else
            {

                clearJiraError();

        $.ajax({
            type: "POST",
            url: "/viewer/new_jira_issue",
            data: { description: description,
                    summary: summary,
                    test_uuid: dict_get("test_uuid") },
            success: function (data) {

                    // get the new jira id here
                    // refresh the page
                    //$("#jira_frame").reload();<--------not working

                    if (data.length == 0)
                    {
                        $("#jira_frame").load("/viewer/serve_jira_info", {
                            page_data: dict_as_json(),
                         } );
                    }
                    else
                    {

                        // there was a Jira error when sending the data
                        showJiraError(data);
                    }

                }
              });

            } 

        }

            $(function() {

                  $("#issue_list").find("li.active").each(function(i) {   
                    onChangeIssue($(this).attr("id"));
                  });

                clearJiraError();
                    
            });
  </script>

                
  </head>

  <body >

    {% load humanize %}

    <div class="page-header">
        <nav><a title="Back to the top of the page" href="#top" class="pull-right">To the top</a></nav>
        <h2>Comment
        <small>Submit comments to Jira using this form</small></h2>
    </div>
    {% if not logged_in %}
        <div class="row"><div class="span12">
                <h2><small>You must be logged in to use this feature</small></h2>
        </div></div>
        <div class="row"><div class="span12">
            <a class="btn btn-primary" href="https://www.ecmwf.int/login?action=logout&back={{ back_page }}">
                <i class="icon-lock icon-white"></i>
                Login
            </a>
        </div></div>

    {% else %}
        {% if not can_submit_issue %}
                <div class="row">
                    <div class="span12">
                        <h2><small>There is no selected issue in the table above</small></h2>
                    </div>
                </div>
        {% else %}

                <div class="row">
                    <div class="span12">
                        <h2><small>There {% ifequal keys|length 1 %}is an{% else %}are {% ifequal keys|length 0 %}no{% else %}{{ keys|length|apnumber }}{% endifequal %}{% endifequal %} existing issue{% ifnotequal keys|length 1 %}s{% endifnotequal %} for this test</small></h2>
                    </div>
                </div>
                {% ifequal keys|length 0 %}
                <div class="row">
                    <div class="span12">
                        <legend>Create new issue</legend>

                        <div id="new_summary_group" class="control-group">
                            <label class="control-label" for="new_summary">Summary:</label>
                            <div class="controls">
                                <input id="new_summary" class="span12" type="text">
                            </div>
                        </div>

                        <div id="new_description_group" class="control-group">
                            <label class="control-label" for="new_description">Description:</label>
                            <div class="controls">
                                <textarea id="new_description" class="span12 input-xlarge" rows="9"></textarea>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="span6">
                        <div class="control-group error">
                            <div id="new_error_text" class="help-inline"></div>
                        </div>
                    </div>
                    <div class="span6">
                        <a id="create_button" class="btn btn-primary pull-right" onClick="onNewIssue();">
                            <i class="icon-file icon-white"></i>
                            Create Issue
                        </a>

                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="span6 ">
                        <div id="issue_list" class="well">
                            <ul class="nav nav-list">
                                <li class="nav-header">Jira Issues</li>
                                {% for k in keys %}
                                
                                <li id="{{ k }}" {% ifequal selected_issue_id k %} class="active"{% endifequal %} >
                                <a onclick="javascript:onChangeIssue('{{ k }}');" data-toggle="nav-list">
                                <i class="icon-list-alt"></i>
                                {{ k }}
                                </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                     </div>
                 </div>
                 {% endifequal %}
                 <div class="row">
                     <div class="span12" id="issue_frame">
                     </div>
                 </div>
        {% endif %}
    {% endif %}
    </div>




</body>
</html>
