<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ project_name }} Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

            
    <script>
            $(function() {

            });

    </script>

                
  </head>

  <body >

  <div class="row">
                            <div class="span12">
<h3>{{ label|capfirst }}</h3>
<pre class="scrollarea" >
{{ data|safe }}
</pre>
                            </div>
  </div>

</body>
</html>
