<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ project_name }} Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/bootstrap-datatables.css">



    <style TYPE="text/css"> 

        /* additional highlight on hover of non-selected rows. Overrides bootstrap css */
        .table.dataTable tbody tr:hover td  {
              color: #005580;
              cursor: pointer;

        }
        
        /* selection colour whether hovering or not. Uses custom class row_selected */
        .table tbody tr.row_selected:hover td , .table tbody tr.row_selected:hover th, .row_selected {
              color: #ffffff;
              background-color: #0088cc;

        }

    </style>
            
    <script>

    function onChangeTarget(target_grid, full_name)
    {
    
        dict_store("target_grid", target_grid);
        dict_store("target_grid_full", full_name);
            

        showSelectedTest("to_"+target_grid);
        
    }

    function showSelectedTest(id)
    {
        // now search for a table with a selection 
        
        $("#"+id).find(".dataTable").each(function(i) {
            
            
            var dateIndex=undefined;
            $(this).find("th").each(function(i) {
                if ($(this).text().toUpperCase() =="DATE") {
                    dateIndex=i;
                }
            });
            if (dateIndex != undefined)
            {
                var date=undefined;
                var uuid=undefined;

                $(this).find(".row_selected").each(function(i) {
                    var nTds = $('td', this);
                    uuid = $(this).attr("id");
                    date = $(nTds[dateIndex]).text();
                

                });

                dict_erase("selected_date");
                dict_erase("test_uuid");
                if (date != undefined)
                    dict_store("selected_date", date);
                if (uuid != undefined)
                    dict_store("test_uuid", uuid);

                $("#detail_frame").load("/viewer/serve_detail", {
                    page_data: dict_as_json(),
                },
                function (data, status) {
                    if (status == "error")
                    {
                        $("#detail_frame").html("An error occured when accessing data");
                    }
                });
                
                $("#jira_frame").load("/viewer/serve_jira_info", {
                    page_data: dict_as_json(),
                },
                function (data) {

                });
                
            }
            
        });

    }

    function getActiveTabId()
    {
       var id=undefined;
       
       $("#target_grid_tabs").find(".active").each(function(i) {   
           if ($(this).hasClass("tab-pane")) {
               id =  $(this).attr("id");
            }
      });
      return id;
    }

    $(function() {

      window.updateDataTables=false;
        
    
      $("#target_grid_tabs").find(".active").each(function(i) {   
        var id = $(this).attr("id").replace("to_", "");
        onChangeTarget(id, $(this).attr("value"));

      });
    

      $(".dataTable").each(function(i) {   

        var id = $(this).attr("id");
        $("#"+id+" tbody tr").click( function ( e ) {
            
            $("#"+id).find(".row_selected").each(function(i) {
                $(this).removeClass('row_selected');
            });
            $(this).addClass('row_selected');

            showSelectedTest(getActiveTabId());

        });
       

        $(this).dataTable (
            { 
                
                    "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ records per page"
                    },
                    "oTableTools": {
                        "sRowSelect": "single"
                    },
                    
                    "fnInfoCallback": function( oSettings, iStart, iEnd, iMax, iTotal, sPre ) {
                            // called when pagination changes
                           
                            if ($(this).is(":visible")) {
                                if (window.updateDataTables) 
                                {
                                    showSelectedTest(getActiveTabId()); 
                                }
                            }
                        }
                        
               
            }
                
       // } );
        );
        
              $.extend( $.fn.dataTableExt.oStdClasses, {
                "sWrapper": "dataTables_wrapper form-inline"
            } );

      });

        window.updateDataTables=true;
 
    });


    </script>
                
  </head>

  <body >


    {% load my_filters %}

            <div class="page-header">
                <nav><a title="Back to the top of the page" href="#top" class="pull-right">To the top</a></nav>
                <h2>Target Grid
                <small>Available transformations from {{ source_grid_full }} grid</small></h2>
            </div>

            <div class="row">
                <div class="span12">
                     <div id="target_grids" class="tabbable">
                        <ul class="nav nav-pills">
                            {% for t, val in target_grids.items %}
                            <li id="{{ t }}" class="{% ifequal t selection %}active{% endifequal %}">
                                <a data-toggle="tab" onclick="javascript:onChangeTarget('{{ t }}', '{{ val.name }}')" href="#to_{{ t }}">{{ val.name }}</a>
                            </li>
                            {% endfor %}

                        </ul>

                        <div id="target_grid_tabs" class="tab-content">                            
                            {% for t, val in target_grids.items %}
                                <div id="to_{{ t }}" value="{{ val.name }}" class="tab-pane {% ifequal t selection %}active{% endifequal %}">

                                    <div class="container">

                                    
                                    <table id="{{ t }}_table" class="dataTable table table-bordered" cellspacing="0" cellpadding="0" border="0">
                                        <thead>
                                            <tr role="row">
                                             {% for head in test_header_titles %}
                                             <th {% ifequal hidden_uuid_column forloop.counter0 %}style="display:none;"{% endifequal %}>{{ head }}</th>
                                             {% endfor %}                                            
                                            </tr>

                                        </thead>
                                        <tbody>
                                            {% for testdict in val.tests %}
                                            <tr id="{{ testdict.uuid }}" class="{% ifequal testdict.uuid test_uuid %}row_selected{% endifequal %}">
                                                {% for head in test_headers %}
                                                   {% if testdict|lookup:head %}
                                                        <td {% ifequal hidden_uuid_column forloop.counter0 %}style="display:none;"{% endifequal %}>{{ testdict|lookup:head }}</td>
                                                   {% else %}
                                                        <td>None</td>
                                                   {% endif %}
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            {% endfor %}
                        </div>
                     </div>
                </div>
            </div>






</body>
</html>
